<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>The list of computers</h1>

    <div style="position: absolute; top: 10px; right: 10px; color: blueviolet; font-weight: lighter">
        <span th:text="'Hello' + ${session.loggedIn.getEmail()}"></span> |
        <a th:href="@{/logout}">Logout</a>
    </div>

    <p>
        <span th:if="${invalidRole}" th:text="${invalidRole}" style="color: deeppink; font-weight: bold" ></span>
    </p>

    <p th:if="${session.loggedIn.getRole() == 'Admin'}">
        <a th:href="@{computers/create}">New</a>
    </p>

    <p>
        <table border="3">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Model</th>
                    <th>Type</th>
                    <th>Year</th>
                    <th>Price</th>
                    <th>Manufacturer</th>
                    <th th:if="${session.loggedIn.getRole() == 'Admin'}">
                        Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="x: ${comps}">
                    <td th:text="${x.id}"></td>
                    <td th:text="${x.model}"></td>
                    <td th:text="${x.type}"></td>
                    <td th:text="${x.year}"></td>
                    <td th:text="${x.price}"></td>
                    <td th:text="${x.manufacturer.name}"></td>
                    <td th:if="${session.loggedIn.getRole() == 'Admin'}">
                        <a th:href="@{'/computers/edit/' + ${x.id}}">Edit</a> |
                        <a th:href="@{'/computers/delete/' + ${x.id}}" onclick="return confirm('Are u sure?')">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </p>


    <h4>&#169; Baviskop .aka Hau Thanh Long</h4>

</body>
</html>