<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>The list of computers</h1>

    <h3 th:text="'Hello' + ${session.loggedIn.getEmail()}"></h3>

    <p>
        <a th:href="@{/logout}">Logout</a>
    </p>


    <p>
        <table border="3">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Model</th>
                    <th>Type</th>
                    <th>Year</th>
                    <th>Price</th>
                    <th>Manufacturer</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="x: ${comps}">
                    <td th:text="${x.id}"></td>
                    <td th:text="${x.model}"></td>
                    <td th:text="${x.type}"></td>
                    <td th:text="${x.year}"></td>
                    <td th:text="${x.price}"></td>
                    <td th:text="${x.manufacturer.name}"></td>
                    <td>
                        <a th:href="@{'/computers/edit/' + ${x.id}}">Edit</a> |
                        <a th:href="@{'/computers/delete/' + ${x.id}}" onclick="return confirm('Are u sure?')">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </p>


    <h4>&#169; Baviskop .aka Hau Thanh Long</h4>

</body>
</html>